/* FAB */
.md3-fab-container {
    @apply absolute;
}
.md3-fab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    border-radius: var(--md3-radius-large);
    background-color: var(--md3-primary);
    color: var(--md3-on-primary);
    box-shadow: var(--md3-shadow-elevation-3);
    cursor: pointer;
    transition: all var(--md3-anim-duration-medium) var(--md3-anim-easing);
}
.md3-fab-xsmall {
    height: 32px;
    width: 32px;
}
.md3-fab-small {
    height: 40px;
    width: 40px;
}
.md3-fab-medium {
    height: 56px;
    width: 56px;
}
.md3-fab-large {
    height: 64px;
    width: 64px;
    border-radius: var(--md3-radius-extra-large);
}
.md3-fab-xlarge {
    height: 88px;
    width: 88px;
    border-radius: var(--md3-radius-extra-large);
}
.md3-fab-extended {
    width: auto;
    min-width: 80px;
    padding: 0 16px;
    border-radius: var(--md3-radius-extra-large);
}
.md3-fab-menu-container {
    @apply z-50 w-auto absolute;
}
/* .md3-fab-container-start .md3-fab-menu-container {
    right: auto;
    bottom: calc(100% + 1rem);
    left: 100%;
}

.md3-fab-container-end .md3-fab-menu-container {
    right: 0;
    left: auto;
}*/

.md3-fab-menu-container-top {
    @apply bottom-[calc(100%+1rem)] right-0;
}

.md3-fab-menu-container-bottom {
    @apply top-full mt-[1rem] right-0;
}

.md3-fab-menu-container.open {
    @apply h-fit;
    opacity: 1;
    pointer-events: auto;
}
