/* Cartes */
.md3-card {
    @apply border border-slate-300;
    font-family: montserrat, sans-serif;
    border-radius: var(--md3-radius-large);
    transition: box-shadow 0.2s, background-color 0.2s;
    background-color: var(--md3-surface);
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    max-height: fit-content;
    height: fit-content;
    overflow: hidden;
}
.md3-card-with-image-top {
    @apply md3-card;
    padding: 0 !important;
    display: grid;
    flex-shrink: 0;
    grid-template-rows: minmax(160px, auto) minmax(min-content, 40%);
}

.md3-card-with-image-left {
    @apply md3-card;
    padding: 0 !important;
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, 65%);
}

.md3-card-image-container {
    border-radius: var(--md3-radius-large);
    height: 100%;
    width: 100%;
    background: var(--md3-surface-variant);
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    overflow: hidden;
}
.md3-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--md3-radius-large);
    border: 1px solid #00000020;
}

.md3-card-image-children {
    padding: var(--md3-spacing-sm);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.md3-card-content {
    @apply gap-0   justify-between;
    padding: var(--md3-spacing-sm) var(--md3-spacing-medium);
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    flex: 1;
    overflow: hidden;
}

.md3-card-headline {
    @apply pb-2 text-[1.1rem] sm:text-[1.125rem] md:text-[1.2rem];
    font-weight: 600;
    color: var(--md3-on-surface);
}

.md3-card-subhead {
    @apply pb-1 min-h-fit;
    font-size: 1.05rem;
    font-weight: 400;
    overflow: hidden;
    color: var(--md3-on-surface-variant);
}

.md3-card-supporting-text {
    @apply pb-0.5;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--md3-on-surface-variant);
    line-height: 1.25rem;
    padding-right: var(--md3-spacing-medium);
}

.md3-card-media {
    @apply flex flex-col pt-1;
}
.md3-card-chips {
    @apply flex flex-wrap gap-2 pb-1.5 -ml-1 mr-3;
}

.md3-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: var(--md3-spacing-medium);
    padding-top: var(--md3-spacing-small);
    color: var(--md3-on-surface-variant);
}

.md3-card-header {
    color: var(--md3-on-surface-variant);
    font-size: 1.125rem;
    font-weight: 500;
}

.md3-card-actions {
    display: flex;
    gap: 8px;
}
.md3-card-mid-section {
    @apply flex flex-col sm:flex-row sm:gap-2  pr-3;
    flex: 1;
}

/*** LARGER CARDS ***/
.md3-card-large {
    @apply flex flex-col;
    border-radius: var(--md3-radius-large);
    box-shadow: var(--md3-shadow-elevation-1);
    transition: box-shadow 0.2s, background-color 0.2s;
    background-color: transparent;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.md3-card-large-image-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: var(--md3-radius-large);
    background: inherit;
    margin-top: -16px;
}

.md3-card-large-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--md3-radius-large) var(--md3-radius-large) 0 0;
    border: 1px solid #00000020;
}

.md3-card-large-image-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.md3-card-large-image-children {
    position: absolute;
    top: 0;
    width: 100%;
}

.md3-card-large-sheet {
    @apply absolute bottom-0;
    background-color: var(--md3-surface);
    border-radius: var(--md3-radius-large);
    box-shadow: var(--md3-shadow-elevation-1);
    padding: var(--md3-spacing-small) var(--md3-spacing-medium);
    border-bottom: 16px solid var(--md3-surface);
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.md3-sheet-container.is-open {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.md3-card-large-sheet-handle {
    @apply flex items-center justify-center;
}

.md3-card-large-sheet-handle-button {
    @apply bg-slate-300 rounded-full;
    width: 40px;
    height: 6px;
    border-radius: 3px;
    background: var(--md3-on-primary-container);
    opacity: 0.25;
    cursor: pointer;
}

/*** STYLES ***/

.md3-card-elevated {
    background-color: var(--md3-surface);
    box-shadow: var(--md3-shadow-elevation-1);
}

.md3-card-elevated:hover,
.md3-card-elevated:focus {
    box-shadow: var(--md3-shadow-elevation-2);
}

.md3-card-filled {
    background-color: var(--md3-primary-container);
    color: var(--md3-on-primary-container);
}

.md3-card-outlined {
    background-color: var(--md3-surface);
    border: 1px solid var(--md3-outline);
}

.md3-card:focus-visible {
    outline: 2px solid var(--md3-primary);
    outline-offset: 2px;
}
