/* Menu */
.md3-menu-container {
    display: inline-block;
}

.md3-menu {
    @apply flex flex-col;
    position: absolute;
    z-index: 999999999 !important;
    background-color: var(--md3-surface, #fff);
    border-radius: var(--md3-radius-large);
    box-shadow: var(--md3-shadow-elevation-3);
    border: 1px solid #00000010;
    min-width: 160px;
}

.md3-menu-list {
    @apply flex flex-col gap-1;
    padding: 8px 0;
}

.md3-menu-item {
    @apply flex items-center gap-4;
    padding: var(--md3-spacing-small) var(--md3-spacing-small);
    cursor: pointer;
    border-radius: var(--md3-radius-large);
    transition: background-color 80ms linear;
    color: var(--md3-on-container);
    background: var(--md3-primary-container);
}

.md3-menu-item-label {
    @apply flex items-center w-max font-montserrat text-[0.875rem];
    color: var(--md3-on-primary-container);
    opacity: 0.8;
}

.md3-menu-item:hover,
.md3-menu-item:focus {
    background-color: var(--md3-surface-variant);
}

.md3-menu-item:active {
    background-color: var(--md3-primary-container);
}

.md3-menu-item-divider-top {
    @apply pt-0.5;
}
.md3-menu-item-divider-top .md3-menu-item {
    @apply rounded-b-sm;
}

.md3-menu-item-divider-bottom {
    @apply pb-2;
}
.md3-menu-item-divider-bottom .md3-menu-item {
    @apply rounded-t-sm;
}

.md3-menu-item-divider-both {
    @apply pt-0.5 pb-0.5;
}

.md3-menu-out {
    @apply h-0 p-0 invisible pointer-events-none;
}
/*
  Animation de déploiement d'un menu
  Utilisé pour: Menu, Dropdown
*/

@keyframes md3-menu-expand {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.md3-animation-menu-expand {
    animation: md3-menu-expand var(--md3-anim-duration-medium)
        var(--md3-anim-easing-decelerate);
    transform-origin: top left; /* Point de départ de l'animation, pour un menu en haut à gauche */
}

.md3-menu-enter {
    animation: md3-menu-scale-in 0.9s cubic-bezier(0.2, 0, 0, 1) forwards;
    transform-origin: top;
}

.md3-menu-leave {
    @apply border-none bg-transparent shadow-none;
    animation: md3-menu-scale-out 0.9s cubic-bezier(0.4, 0, 0.6, 1) forwards;
    transform-origin: top;
    animation-fill-mode: forwards;
}

@keyframes md3-menu-scale-in {
    from {
        opacity: 0;
        transform: scaleY(0); /* Commence petit */
    }
    to {
        opacity: 1;
        transform: scaleY(1); /* Prend sa taille normale */
    }
}

@keyframes md3-menu-scale-out {
    from {
        opacity: 1;
        transform: scaleY(1);
    }

    to {
        opacity: 0;
        transform: scaleY(0);
    }
}
