/* FAB */
.md3-fab-container {
    @apply flex;
}
.md3-fab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 52px;
    border-radius: var(--md3-radius-large);
    border: 1px solid var(--md3-outline);
    background-color: var(--md3-primary);
    color: var(--md3-on-primary);
    box-shadow: var(--md3-shadow-elevation-5);
    cursor: pointer;
    transition: all var(--md3-anim-duration-medium) var(--md3-anim-easing);
}
.md3-fab-xsmall {
    height: 32px;
    width: 32px;
}
.md3-fab-small {
    height: 40px;
    width: 40px;
}
.md3-fab-medium {
    height: 56px;
    width: 56px;
}
.md3-fab-large {
    height: 64px;
    width: 64px;
    border-radius: var(--md3-radius-extra-large);
}
.md3-fab-xlarge {
    height: 88px;
    width: 88px;
    border-radius: var(--md3-radius-extra-large);
}
.md3-fab-extended {
    width: auto;
    min-width: 80px;
    padding: 0 18px;
    border-radius: var(--md3-radius-extra-large);
}
.md3-fab-menu-container {
    @apply z-[999]  w-full absolute h-full;
}
/* .md3-fab-container-start .md3-fab-menu-container {
    right: auto;
    bottom: calc(100% + 1rem);
    left: 100%;
}

.md3-fab-container-end .md3-fab-menu-container {
    right: 0;
    left: auto;
}*/

.md3-fab-menu-container-top {
    @apply bottom-full pb-[1rem] right-0;
}

.md3-fab-menu-container-bottom {
    @apply mt-[1rem] right-0 top-full;
}

.md3-fab-menu-container.open {
    @apply h-fit max-w-max;
    opacity: 1;
}

/* FAB Menu (la position relative est gérée par le conteneur) */
.md3-fab-menu-container {
    @apply h-fit w-full;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 1;
    transform: translateY(0rem);
    transition: opacity var(--md3-anim-duration-short) var(--md3-anim-easing),
        transform var(--md3-anim-duration-short) var(--md3-anim-easing);
    pointer-events: none;
}
.md3-fab-menu-container.open {
    @apply h-fit max-w-max;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.md3-fab-item-enter {
    animation: md3-item-scale-in 0.9s cubic-bezier(0.2, 0, 0, 1) forwards;
    transform-origin: right;
}

.md3-fab-item-leave {
    animation: md3-item-scale-out 0.7s cubic-bezier(0.4, 0, 0.6, 1) forwards;
    transform-origin: right;
}

@keyframes md3-item-scale-in {
    from {
        opacity: 0;
        transform: scaleX(0.6);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes md3-item-scale-out {
    from {
        opacity: 1;
        transform: scaleX(1);
    }

    to {
        opacity: 0;
        transform: scaleX(0.6);
    }
}
