/* --- Variables de base --- */
/* :root {
    --md3-anim-duration-short: 4s;
    --md3-anim-duration-medium: 8s;
    --md3-anim-easing-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
    --md3-anim-easing-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
} */
:root {
    --md3-anim-duration-short: 0.6s;
    --md3-anim-duration-medium: 1.2s;
    --md3-anim-easing-decelerate: cubic-bezier(
        0.4,
        0,
        0.2,
        1
    ); /* Standard Material easing */
    --md3-anim-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
}

/* ------------------------------------------- */
/* --- Glissement (Slide) - 

/* Arrive DEPUIS LA GAUCHE */
.md3-animation-slide-left {
    animation: slide-in-from-left var(--md3-anim-duration-medium)
        var(--md3-anim-easing-decelerate) forwards;
}
@keyframes slide-in-from-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Sort VERS LA GAUCHE */
.md3-animation-slide-out-left {
    animation: slide-out-to-left var(--md3-anim-duration-short)
        var(--md3-anim-easing-accelerate) forwards;
}
@keyframes slide-out-to-left {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* Arrive DEPUIS LA DROITE */
.md3-animation-slide-right {
    animation: slide-in-from-right var(--md3-anim-duration-medium)
        var(--md3-anim-easing-decelerate) forwards;
}
@keyframes slide-in-from-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Sort VERS LA DROITE */
.md3-animation-slide-out-right {
    animation: slide-out-to-right var(--md3-anim-duration-short)
        var(--md3-anim-easing-accelerate) forwards;
}
@keyframes slide-out-to-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Arrive DEPUIS LE BAS */
.md3-animation-slide-up {
    animation: slide-in-from-bottom var(--md3-anim-duration-medium)
        var(--md3-anim-easing-decelerate) forwards;
}
@keyframes slide-in-from-bottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Sort VERS LE BAS */
.md3-animation-slide-out-down {
    animation: slide-out-to-bottom var(--md3-anim-duration-short)
        var(--md3-anim-easing-accelerate) forwards;
}
@keyframes slide-out-to-bottom {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* Arrive DEPUIS LE HAUT */
.md3-animation-slide-down {
    animation: slide-in-from-top var(--md3-anim-duration-medium)
        var(--md3-anim-easing-decelerate) forwards;
}
@keyframes slide-in-from-top {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Sort VERS LE HAUT */
.md3-animation-slide-out-up {
    animation: slide-out-to-top var(--md3-anim-duration-short)
        var(--md3-anim-easing-accelerate) forwards;
}
@keyframes slide-out-to-top {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* --- Autres animations --- */
.md3-animation-scale-in {
    animation: md3-scale-in var(--md3-anim-duration-medium)
        var(--md3-anim-easing-decelerate) forwards;
}
@keyframes md3-scale-in {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.md3-animation-scale-out {
    animation: md3-scale-out var(--md3-anim-duration-short)
        var(--md3-anim-easing-accelerate) forwards;
}
@keyframes md3-scale-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: 0;
    }
}

/**** ANIMATIONS ****/

.anim2 {
    @apply duration-700 fadeIn;
    animation: up 2s forwards;
}
.anim {
    @apply duration-700;
    animation: up 2s forwards, fadeIn 2s forwards;
}

.anim-delay-1 {
    animation-delay: 0.5s;
}
.anim-delay-2 {
    animation-delay: 1s;
}
.anim-delay-3 {
    animation-delay: 2s;
}
.anim-delay-4 {
    animation-delay: 3s;
}
.anim-delay-5 {
    animation-delay: 4s;
}

/* Ajoutez plus si besoin */

.animRev {
    @apply duration-700;
    animation: down 2s forwards, fadeIn 2s forwards;
}

.animSlide {
    @apply duration-700 fadeIn;
    animation: slide 1.2s forwards;
}

.animSlideRev {
    @apply duration-700;
    animation: slideOut 1.2s forwards;
}

.animSlideUp {
    @apply duration-700 fadeIn;
    animation: slideUp 1.2s forwards;
}
@keyframes slide {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-90%);
    }
}

.fadeIn {
    @apply duration-700;
    animation: fadeIn 1.2s forwards;
}

.fadeOut {
    @apply duration-700;
    animation: fadeOut 1.2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        filter: brightness(1);
    }
    to {
        opacity: 0.5;
        filter: brightness(0.5);
    }
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.spin {
    animation: spin 0.7s linear;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.showUp {
    @apply duration-500;
    animation: showUp 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes showUp {
    from {
        opacity: 0;
        transform: scaleX(0.8);
        max-height: 0;
    }
    to {
        opacity: 1;
        transform: scaleX(1);
        max-height: 1000px;
    }
}
.growShrink {
    @apply duration-700;
    animation: growShrink 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes growShrink {
    from {
        transform: scale(0.8);
        opacity: 0.7;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Animation d'apparition avec un effet de rebond */
@keyframes pop {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    40% {
        transform: scale(2);
        opacity: 0.3;
    }
    100% {
        transform: scale(3);
        opacity: 0.6;
    }
}

/* Animation pour la disparition du like */
@keyframes popReverse {
    0% {
        transform: scale(3);
        opacity: 0.6;
    }
    50% {
        transform: scale(2);
        opacity: 0.3;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* La classe à utiliser pour déclencher l'animation */
.animate-pop {
    animation: pop 0.01s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards,
        popReverse 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    transform-origin: center;
}

/* Insta-like balancing left-right animation */
.animate-balance {
    animation: balance 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform-origin: center;
}

@keyframes balance {
    0% {
        transform: rotate(0deg) scale(1);
    }
    20% {
        transform: rotate(-15deg) scale(1.1);
    }
    40% {
        transform: rotate(15deg) scale(1.1);
    }
    60% {
        transform: rotate(-10deg) scale(1.05);
    }
    80% {
        transform: rotate(10deg) scale(1.05);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.animSheet {
    @apply duration-700;

    animation: upSheet 2s forwards, fadeIn 0.7s forwards;
}

.animSheetRev {
    @apply duration-700;
    animation: downSheet 2s forwards, fadeIn 2s forwards;
}

@keyframes upSheet {
    from {
        transform: translateY(5%);
        height: 100%;
    }
    to {
        transform: translateY(0);
        height: 100%;
    }
}

@keyframes downSheet {
    from {
        transform: translateY(20%);
        height: 100%;
    }
    to {
        transform: translateY(0);
        height: 100%;
    }
}
