/* Cartes */
.md3-card {
    @apply md3-primary-container;
    font-family: montserrat, sans-serif;
    border-radius: var(--md3-radius-large);
    transition: box-shadow 0.2s, background-color 0.2s;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    max-height: fit-content;
    height: fit-content;
    overflow: hidden;
}
.md3-card-with-image-top {
    @apply md3-card;
    padding: 0 !important;
    display: grid;
    flex-shrink: 0;
    grid-template-rows: minmax(24vh, auto) minmax(max-content, 40%);
}

.md3-card-with-image-left {
    @apply md3-card;
    padding: 0 !important;
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 60%);
}

.md3-card-image-container {
    border-radius: var(--md3-radius-large);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    overflow: hidden;
    box-shadow: var(--md3-shadow-elevation-1);
}
.md3-card-image {
    position: absolute;
    filter: grayscale(25%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--md3-radius-large);
}

.md3-card-image-children {
    padding: var(--md3-spacing-small);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
}

.md3-card-content {
    padding: var(--md3-spacing-medium) 0 var(--md3-spacing-small);
    gap: 0.45rem;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    flex: 1;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.md3-card-headline {
    @apply text-[1.15rem]  line-clamp-2;
    font-weight: 600;
    padding: 0 var(--md3-spacing-medium);
    color: var(--md3-on-surface);
}
.md3-card-large .md3-card-headline {
    @apply text-[1.25rem]  line-clamp-2;
}

.md3-card-subhead {
    @apply min-h-fit  flex items-center;
    font-weight: 500;
    color: var(--md3-on-surface-variant);
    padding: 0 var(--md3-spacing-medium);
}
.md3-card-large .md3-card-subhead {
    @apply text-[1.1rem];
}

.md3-card-supporting-text {
    @apply flex-1 text-[0.9rem] flex opacity-90;
    display: flex;
    font-weight: 400;
    color: var(--md3-on-surface-variant);
    padding: 0 var(--md3-spacing-medium);
}
.md3-card-large .md3-card-supporting-text {
    @apply text-[1rem];
}

.md3-card-media {
    @apply flex flex-col justify-end;
    padding: 0.25rem var(--md3-spacing-medium) 0;
}
.md3-card-chips {
    @apply flex gap-2 overflow-x-auto overflow-y-hidden items-center rounded-2xl !py-0.5;
    padding: 0 var(--md3-spacing-sm) 0;
}
.md3-card-divider {
    height: 8px;
    background-color: var(--md3-surface-variant);
    margin: var(--md3-spacing-small) 0;
    width: 100%;
    flex-shrink: 0;
}

.md3-card-footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    gap: var(--md3-spacing-medium);
    padding: var(--md3-spacing-small) var(--md3-spacing-medium);
    border-top: 0px solid #00000015;
    color: var(--md3-on-surface-variant);
    overflow: hidden;
}

.md3-card-header {
    @apply flex justify-between items-center  pt-3 pb-1;
    padding: var(--md3-spacing-small) var(--md3-spacing-medium) 0;
    color: var(--md3-on-surface-variant);
    font-size: 1.125rem;
    font-weight: 500;
}

.md3-card-actions {
    display: flex;
    gap: 8px;
}
.md3-card-mid-section {
    @apply flex flex-col sm:flex-row sm:gap-2  pr-3;
    padding: 0 var(--md3-spacing-medium);
    flex: 1;
}

/*** LARGER CARDS ***/
.md3-card-large {
    @apply flex flex-col  md3-primary-container;
    border-radius: var(--md3-radius-large);
    box-shadow: var(--md3-shadow-elevation-4);
    transition: box-shadow 0.2s, background-color 0.2s;
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    padding-bottom: var(--md3-spacing-medium);
}

.md3-card-large-image-content {
    display: flex;
    flex-direction: column;
    gap: var(--md3-spacing-small);
    border-radius: var(--md3-radius-large);
    background: inherit;
    margin-top: calc(var(--md3-spacing-small) * -2);
}

.md3-card-large-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #00000025;
    border-radius: var(--md3-radius-large) var(--md3-radius-large) 0 0;
}

.md3-card-large-image-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: var(--md3-shadow-elevation-4);
    border-radius: var(--md3-radius-large);
}

.md3-card-large-image-children {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.md3-card-large-sheet {
    @apply absolute bottom-0;
    background-color: var(--md3-surface);
    border-radius: var(--md3-radius-large);
    padding: var(--md3-spacing-small) 0 var(--md3-spacing-medium);
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.md3-sheet-container.is-open {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.md3-card-large-sheet-handle {
    @apply flex items-center justify-center pt-1 pb-2;
}

.md3-card-large-sheet-handle-button {
    @apply rounded-full;
    width: 40px;
    height: 6px;
    border-radius: 3px;
    background: var(--md3-on-primary-container);
    opacity: 0.25;
    cursor: pointer;
}
.md3-sheet-content {
    @apply h-fit flex flex-col;
    gap: var(--md3-spacing-small);
    flex: 1;
}

.md3-card-large-footer {
    @apply flex justify-between items-center;
    border-top: 0px solid var(--md3-outline-variant);
    padding: var(--md3-spacing-small) var(--md3-spacing-medium);
    color: var(--md3-on-surface-variant);
    gap: var(--md3-spacing-small);
}

.md3-card-section-header {
    @apply md3-primary-container rounded-b-[1.8rem] z-[2];
    box-shadow: var(--md3-shadow-elevation-3);
}

/*** STYLES ***/

.md3-card-section-border {
    @apply border py-4  rounded-3xl border-[var(--md3-outline)];
}

.md3-card-elevated {
    @apply md3-primary-container;
    box-shadow: var(--md3-shadow-elevation-2);
}

.md3-card-elevated:hover,
.md3-card-elevated:focus {
    box-shadow: var(--md3-shadow-elevation-3);
}

.md3-card-filled {
    @apply md3-primary-container;
}

.md3-card-outlined {
    @apply md3-primary-container;
    border: 1px solid var(--md3-outline);
}

.md3-card:focus-visible {
    outline: 2px solid var(--md3-primary);
    outline-offset: 2px;
}

/**** GRID SYSTEM ****/

/* list section */
.Grid {
    @apply grid pb-10 mb-10 pt-2  px-[0.5rem] md:px-[1rem] 
    grid-cols-[minmax(calc(50%-1rem),1fr)]  
    sm:grid-cols-[1fr,1fr] 
    sm:auto-rows-[minmax(min-content,40vh)] 
    auto-rows-[minmax(min-content,20vh)];
}

.GridCompact {
    @apply lg:grid-cols-[auto,auto,auto];
}

.Grid2 {
    @apply wRespXL !max-h-full grid grid-cols-[minmax(calc(50%-1rem),_1fr)] gap-y-3 pb-4 gap-x-1 lg:grid-cols-[minmax(calc(50%-1rem),_1fr)_minmax(calc(50%-1rem),_1fr)];
    grid-auto-rows: minmax(320px, 53vh);
}

.GridSmall {
    @apply !max-h-full grid grid-cols-[minmax(calc(50%-1rem),_1fr)] gap-y-3 gap-x-3 px-4 pb-4 pt-2 lg:grid-cols-[minmax(calc(50%-1rem),_1fr)_minmax(calc(50%-1rem),_1fr)];
    grid-auto-rows: minmax(max-content, 20vh);
}

/* list grid */
.SubGrid {
    @apply max-w-[calc(100vw-1rem)] px-0.5 sm:px-2 pt-1 pb-4  overflow-hidden grid;
}
