/* Menu */
.md3-menu-container {
    display: inline-block;
}

.md3-menu {
    @apply flex flex-col;
    position: absolute;
    z-index: 999999999 !important;
    background-color: var(--md3-surface, #fff);
    border-radius: 12px;
    box-shadow: var(--md3-shadow-elevation-3);
    border: 1px solid var(--md3-outline-variant, #e0e0e0);
    padding: var(--md3-spacing-small) var(--md3-spacing-medium);
    min-width: 160px;
}

.md3-menu-list {
    @apply flex flex-col gap-1;
    padding: 8px 0;
}

.md3-menu-item {
    @apply flex items-center gap-2;
    padding: var(--md3-spacing-small) var(--md3-spacing-small);
    cursor: pointer;
    border-radius: var(--md3-radius-large);
    transition: background-color 80ms linear;
    color: var(--md3-on-container);
    background: var(--md3-primary-container);
}

.md3-menu-item-label {
    @apply px-1 w-max;
    color: var(--md3-on-primary-container) !important;
    opacity: 0.8;
}

.md3-menu-item:hover,
.md3-menu-item:focus {
    background-color: var(--md3-surface-variant);
}

.md3-menu-item:active {
    background-color: var(--md3-primary-container);
}

.md3-menu-item-divider-top {
    @apply pt-0.5;
}
.md3-menu-item-divider-top .md3-menu-item {
    @apply rounded-b-sm;
}

.md3-menu-item-divider-bottom {
    @apply pb-2;
}
.md3-menu-item-divider-bottom .md3-menu-item {
    @apply rounded-t-sm;
}

.md3-menu-item-divider-both {
    @apply pt-0.5 pb-0.5;
}

.md3-menu-out {
    @apply h-0 p-0 invisible pointer-events-none;
}
