/**** ANIMATIONS ****/

.anim2 {
    @apply duration-700 fadeIn;
    animation: up 2s forwards;
}
.anim {
    @apply duration-1000;

    animation: up 2s forwards, fadeIn 2s forwards;
}

.animRev {
    @apply duration-700;
    animation: down 2s forwards, fadeIn 2s forwards;
}

.animSlide {
    @apply duration-700 fadeIn;
    animation: slide 1.2s forwards;
}

.animSlideRev {
    @apply duration-700;
    animation: slideOut 1.2s forwards;
}

.animSlideUp {
    @apply duration-700 fadeIn;
    animation: slideUp 1.2s forwards;
}
@keyframes slide {
    from {
        transform: translateX(-90%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-90%);
    }
}

.fadeIn {
    @apply duration-700;
    animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.spin {
    animation: spin 0.7s linear;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.showUp {
    @apply duration-500;
    animation: showUp 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes showUp {
    from {
        opacity: 0;
        transform: scaleX(0.8);
        max-height: 0;
    }
    to {
        opacity: 1;
        transform: scaleX(1);
        max-height: 1000px;
    }
}
.growShrink {
    @apply duration-700;
    animation: growShrink 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes growShrink {
    from {
        transform: scale(0.8);
        opacity: 0.7;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
