/**** GRID SYSTEM ****/

/* list section */
.Grid {
    @apply max-h-full wRespXL grid pt-2 pb-4 gap-y-3.5
    grid-cols-[minmax(calc(50%-1rem),1fr)]  
    lg:grid-cols-[minmax(calc(50%-1rem),1fr),minmax(calc(50%-1rem),1fr)] 
    lg:auto-rows-[minmax(min-content,40vh)] 
    auto-rows-[minmax(min-content,20vh)];
}

.Grid2 {
    @apply !max-h-full grid grid-cols-[minmax(calc(50%-1rem),_1fr)] gap-y-3 pb-4 gap-x-1 lg:grid-cols-[minmax(calc(50%-1rem),_1fr)_minmax(calc(50%-1rem),_1fr)];
    grid-auto-rows: minmax(320px, 53vh);
}

.GridSmall {
    @apply !max-h-full grid grid-cols-[minmax(calc(50%-1rem),_1fr)] gap-y-3 gap-x-1 pb-4 pt-2 lg:grid-cols-[minmax(calc(50%-1rem),_1fr)_minmax(calc(50%-1rem),_1fr)];
    grid-auto-rows: max-content;
}

/* list grid */
.SubGrid {
    @apply pt-6 max-w-[calc(100vw-1rem)] mx-1.5;
}

/**** CARD ****/
@layer components {
    /* CARD  */

    .card {
        @apply border bg-slate-50  rounded-3xl w-full mx-auto 
    !relative !p-0 anim z-50 bg-clip-content !overflow-visible border-slate-300   grid;
        box-shadow: 0 1px 1px 0 #00000010;
    }

    .FixCard {
        @apply card w-respLarge h-full
    lg:grid-rows-[minmax(100px,22vh),minmax(min-content,1fr),auto]
    md:grid-rows-[minmax(100px,22vh),minmax(min-content,1fr),auto]
    sm:grid-rows-[minmax(100px,23vh),minmax(min-content,1fr),auto]
    grid-rows-[minmax(100px,23vh),minmax(min-content,1fr),auto];
    }

    .FixCardNoImage {
        @apply card w-respLarge 
        my-0  h-[calc(100%+1.5rem)] !-mt-6 
        grid-rows-[auto,minmax(min-content,1fr),auto];
    }

    /* CARD HEADER */
    .FixCardHeader {
        @apply min-w-[calc(100%-4rem)]  mx-auto 
        !flex !flex-1 !rounded-3xl !relative !z-[99] -mt-6  fadeIn border !border-slate-300
        h-[calc(100%+1rem)];
    }

    .FixCardHeaderSmall {
        @apply flex flex-1 !min-h-[9rem] !max-h-[60vw] sm:!max-h-[45vw] md:!max-h-[30%] !shadow-md fadeIn;
    }

    .FixCardHeaderNoImage {
        @apply !shadow-none max-h-[11rem] !min-h-max flex m-auto top-0 w-full !left-0;
    }

    .CardImage {
        @apply h-full w-full !rounded-3xl object-cover  bg-slate-400 opacity-90;
    }
    .CardImageDiv {
        @apply h-full w-full flex flex-1 !shadow-md !rounded-3xl;
    }

    /* CHIP */
    .ChipDiv {
        @apply flex w-full h-max  gap-2 justify-between flex-wrap overflow-auto absolute p-3;
    }

    .ChipDivNoImage {
        @apply flex max-w-[calc(100%-0rem)] w-full gap-2 justify-between overflow-auto flex-wrap p-4 h-max;
    }

    .ChipSubDiv {
        @apply w-full flex max-w-max flex-wrap overflow-auto gap-2 items-start;
    }

    /* CARDBODY */
    .FixCardBody {
        @apply flex relative flex-col px-5 !py-0 !h-full place-self-start;
    }

    .CardOverFlow {
        @apply min-h-max overflow-auto py-4 px-0;
    }

    /*FOOTER */
    .CardFooter {
        @apply flex bottom-0 justify-between px-4 !pt-3 !pb-4 !my-0 max-h-min 
        min-h-fit w-full items-center gap-x-4 !flex-wrap flex-row !max-w-full place-self-end;
    }

    /***************/
    /* DETAILD CARD  */
    .DetailCardDiv {
        @apply wRespXL grid pt-8  px-0.5 max-h-[calc(100dvh_-_6rem)];
    }

    .CardDetailGrid {
        @apply w-respLarge card   !min-h-fit !grid overflow-hidden
        grid-rows-[minmax(90px,30vh),minmax(max-content,1fr),auto]
        sm:grid-rows-[minmax(100px,38vh),minmax(max-content,1fr),auto]
        md:grid-rows-[minmax(100px,1fr),minmax(max-content,1fr),auto];
    }
    .FormCardDiv {
        @apply wRespXL grid pt-6  px-0.5 !max-h-[calc(100dvh_-_4rem)] hideCTAForm;
    }
    .FormDetailGrid {
        @apply w-respLarge card  !min-h-fit !grid max-h-fit
        grid-rows-[minmax(90px,40%),minmax(max-content,1fr)]
        lg:grid-rows-[minmax(100px,45%),minmax(max-content,1fr)];
    }

    .CardDetailGridNoImage {
        @apply w-respLarge card !-mt-6 rounded-2xl w-full mx-auto !relative !p-0 anim z-50 !min-h-fit
        grid grid-rows-[auto,minmax(min-content,1fr),auto];
    }

    .DetailCardHeader {
        @apply min-w-[calc(100%-4rem)] mx-auto
        !flex flex-1 !rounded-3xl !relative !z-[99] -mt-6 !shadow-md fadeIn border border-slate-400/60 h-[calc(100%+1rem)];
    }

    .DetailCardBody {
        @apply flex place-self-start relative flex-col px-5 pt-0 !m-0  !max-h-[calc(100%-1rem)] !h-full min-h-fit;
    }
    .DetailCardFooter {
        @apply flex justify-between place-self-end items-center h-max w-full pb-6 !pt-2 px-5 border-t   !min-h-fit;
    }
    /* 1CTA 11REM */
    .hideCTA {
        @apply mb-[3rem] min-h-fit max-h-[calc(100dvh_-_10rem)]
        grid-rows-[minmax(calc(100dvh-12rem),calc(100dvh-12rem))];
    }
    .hideCTA2 {
        @apply mb-[3rem] min-h-fit max-h-[calc(100dvh_-_10rem)]
        grid-rows-[minmax(calc(100dvh-12rem),calc(100dvh-12rem))];
    }

    .hideCTAForm {
        @apply min-h-fit max-h-[calc(100dvh_-_12rem)] 
        lg:max-h-[calc(100dvh_-_11rem)]
        grid-rows-[minmax(calc(100dvh-16rem),calc(100dvh-14rem))]
       lg:grid-rows-[minmax(calc(100dvh-12rem),calc(100dvh-11rem))];
    }
}
