/**** COLORS ****/

.roseBG {
    @apply bg-gradient-to-t from-transparent via-rose-100/80 via-[80%] to-slate-50;
}
.cyanBG {
    @apply bg-gradient-to-t from-transparent via-cyan-100/80 via-[80%] to-slate-50;
}
.skyBG {
    @apply bg-gradient-to-t from-transparent via-sky-100/80 via-[80%] to-slate-50;
}
.slateBG,
.grayBG {
    @apply bg-gradient-to-t from-transparent via-slate-100/30 via-[80%] to-slate-100;
}
.orangeBG {
    @apply bg-gradient-to-t from-transparent  via-orange-100/80 via-[80%] to-slate-50;
}
.tealBG {
    @apply bg-gradient-to-t from-transparent via-teal-100/80 via-[80%] to-slate-50;
}
.amberBG {
    @apply bg-gradient-to-t from-transparent via-amber-100/80 via-[80%] to-slate-50;
}
.greenBG {
    @apply bg-gradient-to-t from-transparent via-green-100/80 via-[80%] to-slate-50;
}
.redBG {
    @apply bg-gradient-to-t from-transparent via-red-100/80 via-[80%] to-slate-50;
}
.yellowBG {
    @apply bg-gradient-to-t from-transparent via-yellow-100/80 via-[80%] to-slate-50;
}

.gray100 {
    background-image: linear-gradient(#f9fafb00, #e2e8f090);
}

/**** COMBINED STYLES ****/
.shadSm {
    box-shadow: 0px 0px 1px 0px #00000050;
}

.style {
    @apply bg-opacity-100 !border-slate-900/10 !brightness-95  stroke-1 stroke-slate-900/90 font-roboto;
}

.inv {
    @apply !text-white bg-opacity-100 text-opacity-90 !stroke-1 !stroke-slate-900/90;
}

/* Example for style classes */
.skyStyle {
    color: var(--md3-on-sky-container) !important;
    background-color: var(--md3-sky-container) !important;
}
.skyStyleInv {
    background-color: var(--md3-sky) !important;
    color: var(--md3-on-sky) !important;
}
.cyanStyle {
    color: var(--md3-on-cyan-container) !important;
    background-color: var(--md3-cyan-container) !important;
}
.cyanStyleInv {
    background-color: var(--md3-cyan) !important;
    color: var(--md3-on-cyan) !important;
}
.roseStyle {
    color: var(--md3-on-rose-container) !important;
    background-color: var(--md3-rose-container) !important;
}
.roseStyleInv {
    background-color: var(--md3-rose) !important;
    color: var(--md3-on-rose) !important;
}
.orangeStyle {
    color: var(--md3-on-orange-container) !important;
    background-color: var(--md3-orange-container) !important;
}
.orangeStyleInv {
    background-color: var(--md3-orange) !important;
    color: var(--md3-on-orange) !important;
}
.greenStyle {
    color: var(--md3-on-green-container) !important;
    background-color: var(--md3-green-container) !important;
}
.greenStyleInv {
    background-color: var(--md3-green) !important;
    color: var(--md3-on-green) !important;
}

.slateStyle {
    color: var(--md3-on-slate-container) !important;
    background-color: var(--md3-slate-container) !important;
}

.outlineStyle {
    @apply !bg-white !border-[1px] !border-current;
}

/**** CHIP LIGHT COLOR ****/
.Chip {
    @apply !min-w-[calc(max-0.1rem)] !min-h-7 !px-1.5 !pb-1 !rounded-full !max-h-fit
   !max-w-max disabled:!opacity-40;
}
button:disabled .Chip {
    @apply !saturate-[80%] opacity-95 pointer-events-none;
}

@layer components {
    .orangeChip {
        @apply Chip bg-orange-200 text-orange-600/90;
    }
    .skyChip {
        @apply Chip bg-sky-200 text-sky-600/90;
    }
    .cyanChip {
        @apply Chip bg-cyan-200 text-cyan-600/90;
    }
    .tealChip {
        @apply Chip bg-teal-200 text-teal-600/90;
    }
    .amberChip {
        @apply Chip bg-amber-200 text-amber-600/90;
    }
    .greenChip {
        @apply Chip bg-green-200 text-green-600/90;
    }
    .grayChip,
    .slateChip {
        @apply Chip bg-slate-200 text-slate-600/90;
    }
    .redChip {
        @apply Chip bg-red-200 text-red-600/90;
    }
}

/*****FOOTER *****/

.slateFooter,
.grayFooter {
    @apply bg-gradient-to-t to-transparent  from-[#cbd5e1] from-[1rem] backdropBlurFooter;
}
