/**** INPUT STYLES ****/

@import "./color.css";
input:-internal-autofill-selected {
    @apply bg-slate-200 dark:bg-slate-600 !text-slate-900 dark:!text-slate-200  !outline-none !ring-0 !ring-current;
    box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}
.inputStandart {
    @apply !rounded-none border-b !border-slate-400  focus:!border-b-slate-800  !border-t-0 !border-x-0 hover:!border-t-0 placeholder:!opacity-90   focus:placeholder:!opacity-50 before:content-none after:content-none gap-4 font-normal  text-sm  !text-slate-500  !bg-transparent 
    focus:!bg-slate-200 focus:!outline-none !ring-0 !ring-current !pl-2 active:!bg-slate-300;
}
.inputStandart::placeholder {
    @apply !text-slate-600 !opacity-90;
}

input {
    @apply !text-slate-500 !opacity-95  !outline-0 !ring-0 !ring-current;
}

input[type="datetime-local"] {
    @apply !opacity-95  !text-[0.8rem] min-w-24 max-w-max inputStandart pt-1 !min-h-[1.4rem] !h-full !flex focus:bg-slate-200;
    &::-webkit-calendar-picker-indicator {
        @apply !text-slate-300 !opacity-50 p-2  rounded-full !scale-125 !flex -ml-8 md:-ml-2;
    }
}

input[type="number"] {
    @apply !opacity-95  !text-[0.8rem] min-w-24 min-h-[1.4rem] focus:!outline-none  !h-max !max-w-max inputStandart !flex !gap-4 md:!pr-2;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        @apply !flex !items-center !justify-center !opacity-60 contrast-150  pr-5 !min-h-[0.6rem] py-2  gap-5 flex-col  -ml-2 bg-transparent  min-w-[0.8rem] appearance-none !border-0 !outline-0 md:appearance-auto;
    }
}

textarea {
    @apply focus:bg-slate-200 !opacity-95   !outline-0 !ring-0 !ring-current;
}

[role="option"] {
    @apply !text-slate-500 !opacity-95  !font-normal;
}

.inputStandart span {
    @apply !left-0;
}

.inputStandart :last-child {
    @apply right-0;
}

.inputDiv {
    @apply !rounded-full h-[2.2rem] flex items-center bg-opacity-0 border-t px-4 !border capitalize font-normal;
}

.inputDiv::placeholder {
    @apply truncate;
}

.SimpleInput {
    @apply rounded-none !border-0 border-b border-gray-400 pr-0.5 shadow-none ring-0 hover:border-gray-900 focus:border-gray-900 data-[icon-placement=start]:!pl-[26px] dark:border-gray-600 dark:hover:border-gray-50 dark:focus:border-gray-50 focus:!outline-none placeholder:!pr-4;
}
